#display {
   display: flex;
   flex-direction: row;
}
#container {
    width: 150px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(222, 222, 245) ;
    margin: 2%;
    font-family: 'Kalam', cursive;
}
header {
    font-family: 'Kalam', cursive;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(rgb(222,222,245), rgb(86, 203, 235)
    );
    color: rgb(63, 60, 60);
    padding: 3%;
    margin: 2%;

}

#container2 {
    font-family: 'Kalam', cursive;
    display: flex;
    justify-content: flex-end;
    width: 1200px;
    justify-content: flex-end;
    background-color: rgb(222,222,245);
    margin: 2%;
    padding:2%;
    flex-direction: column;
}

.fa-regular {
    color: rgb(245, 255, 157)
}

.fa-solid {
    color: rgb(245, 255, 157) 
}

.submit-search {
    font-family: 'Kalam', cursive;
    background-color: rgb(245, 255, 157);
    color:rgb(63, 60, 60);
    margin: 10px;
    border-color: rgb(86, 203, 235);
}

.search-bar {
    font-family: 'Kalam', cursive;
    margin: 10px;
    height: 30px;
    border-color: rgb(222,222,245);
}

.todays-weather {
    display: flex;
    flex-direction: column;
    display: hidden;
}

.weekForecast {
margin-top: 40px;
display: flex;
flex-direction: row;
justify-content: space-between;
}
 #icon {
    width: 40px;
    height: 35px;
 }